@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #4CAF50;
    --secondary-color: #ff9800;
    --text-color: #333;
    --background-color: #f4f4f4;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 1200px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
    justify-content: space-between;
    grid-gap: 1rem;
    align-items: center;
    padding: 10px 20px;
    background-color: #b3a4d0;
}

header img {
    height: 60px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--heading-font);
}
    
nav a {
    background-color: var(--accent1-color);
    padding: 1rem 1rem;
}

article {
    display: flex;
    align-items: center;
    margin: 20px 0;
    padding: 20px;
    background: white;
    border-radius: 5px;
}

article img {
    margin-left: 20px;
    width: 150px;
}

section {
    margin: 20px 0;
}

figure {
    border: thin #c0c0c0 solid;
    display: grid;
    flex-flow: column 100px 100px;
    padding: 5px;
    max-width: 220px;
    margin: auto;
  }

figcaption {
    text-align: center
    
}



footer {
    background-color: #b3a4d0;
    color: white;
    text-align: center;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer a {
    margin: 0 10px;
    text-decoration: none;
}

footer img {
    height: 30px;
    vertical-align: middle;
}



.hero {
    text-align: center;
    background-color: #d4c6e0;
    padding: 20px;
}

.hero h1 {
    margin: 0;
    font-size: 2em;
}

.section-content {
    display: flex;
    justify-content: space-between;
}

.section-content img {
    margin: 0 10px;
    width: 150px;
    height: 150px;
    background-color: #b3a4d0;
}

.grid-container {
    display: grid;
}   

.employee img{
    width: 250px;
    height: auto;
}