@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;
    
    --heading-font: 'Montserrat', sans-serif;
    --paragraph-font: 'Roboto', sans-serif;
    
    --nav-bg-color: #396e94;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #e7c24f;
    --nav-hover-bg-color: #a43312;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--nav-link-color);
    text-align: center;
}

header h1 {
    margin: 0;
}

header div {
    margin-top: 10px;
}



p {
    padding: 10px 0;
}

nav {
    background-color: var(--nav-bg-color);
    padding: 10px;
    text-align: center;
}

nav a {
    color: var(--nav-link-color);
    margin: 0 10px;
    text-decoration: none;
    padding: 5px 10px;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}
nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-bg-color);
}
